<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Visualizar Registros</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Visualizar Registros</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tarefa</th>
                <th scope="col">Horas Trabalhadas</th>
                <th scope="col">Data de Registro</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
                <tr>
                    <td>{{ registro.tarefa }}</td>
                    <td>{{ registro.horas_trabalhadas }}</td>
                    <td>{{ registro.data_registro }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
